---
// import Footer from '../components/Footer.astro'; // CETTE LIGNE EST IGNORÉE CAR ELLE EST EN COMMENTAIRE

const { pageTitle } = Astro.props;
---
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | monchoixconso.com</title>
</head>
<body>
    <main>
        <slot />
    </main>
    </body>
</html>
<style is:global>
    /* Styles globaux */
    body {
        font-family: system-ui, sans-serif;
        margin: 0;
    }
</style>